player-connection-mode=Listen
player-connection-guid=4015903409
player-connection-debug=0
player-connection-project-name=Unity Tutorial Network
player-connection-ip=192.168.55.62
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=013dbe0d379f449fa74e95737d7a132e
